@media only screen 
and (min-width: 0px)
and (max-width: 999px) {
    .srovnano-1-3 {
        box-sizing: border-box;
        display: block;
        width: 100%;
        margin-bottom: 3em;
    }

    .quick_nav__karta {
        max-width: 90%;
        margin: 0 auto;
    }
    
    .quick_nav__karta p {

        line-height: 28px;
    }

    nav.navbar {
        overflow: hidden;
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        width: 86%;
        margin: 0 auto;
        top: 120px;
        margin-bottom: 4em;
      }
    
      #navbar {
      
      }
      
      .navbar .navbar-menu {
        display: none;
        padding-left: 0;
      }
    
       a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: black;
        margin-right: 8px;
      }
    
       a.icon {
          color: black;
          padding: 26px 28px;
          text-decoration: none;
          font-size: 30px;
          display: block;
        }
    
        .vyhody__uprava div {
          margin: 0 auto;
        }
    
        body.home header {
          flex-direction: column;
          z-index: 10;
          padding: 0;
          position: relative;
        }
    
        .navbar__menu {
          flex-direction: column;
        }
    
        .navbar__menu > li {
          border-bottom: 1px solid #fff;
          display: block;
    
        }
    
        .navbar__menu > li a {
    flex-grow: 1;
    letter-spacing: 3px;
    line-height: 20px;
    padding: 1.65em;
        }
    
        .navbar__menu li {
          text-align: left;
        }
    
        .navbar__menu--uprava {
          padding: 0;
    width: auto;
    display: block;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
     }
    
     .last_nav {
      max-width: unset;
     }
    
     .navbar {
    width: 86%;
    padding-bottom: 1em;
     }
    
     .navbar__menu {
      display: none;
      background-color: #F4F9FB;
     }
    
     .header__hamburger {
      display: flex;
      flex-direction: row;
      background-color: white;
      position: fixed;
      top: 0;
      width: 100%;
      padding-bottom: 2em;
      z-index: 100;
     }
    
     #navbar{
      opacity: 0;
      z-index: 101;
      transition: all .3s cubic-bezier(.645,.045,.355,1);
     }
    
     .hamburger_on .header__hamburger {
      padding-bottom: 7em;
      transition: all .3s cubic-bezier(.645,.045,.355,1);
     }
    
     .hamburger_on #navbar {
      opacity: 1;
     }
    
     .hamburger_on main, .hamburger_on .header { 
      opacity: .4;
     }
    
     .hamburger_on .navbar {
      transform: translateY(-60px);
      transition: all .25s cubic-bezier(.645,.045,.355,1);
     }

     
  footer .naceneni_tlacitko {
    margin: 0 auto;
    display: block;
    padding: .75em 3.5em .75em 3.5em;
    max-width: 56%;
    text-align: center;
    margin-bottom: 2em;
  }

  .naceneni_tlacitko--red {
    border: 3px solid #EB3138;
  text-transform: uppercase;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  padding: .75em 3.25em .75em 2.5em;
  display: block;
  margin: 0 auto;
  max-width: 56%;
  }

  footer .omezeni_sirky {
    flex-direction: column;
  }

  .omezeni_sirky {
    max-width: 86%;
  }
}

@media only screen 
and (min-width: 800px)
and (max-width: 999px) {
    .srovnano-1-3 {
        display: inline-block;
        width: 50%;
    }
}